/* font_add START */
@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
 font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
 font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* font_add END */


body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;    /* не знаю какой размер ставить по умолчанию  */
  line-height: 21px;
  background-color: #ffffff;
  color: #000000;
}


/* header START */
.index-header {
}
.navigation-list {
  list-style: none;
}

.navigation-link,
.navigation-user-link {
  color: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  text-align: center;
  text-decoration: none;
}



/* header END */

/* main START */
.main-index {

  background-image: url("../images/background-index.jpg");
  background-color: #ffffff;
  color: #000000;
  background-repeat: no-repeat;
  background-size: 100% auto;
  /* text-align: center; */
}

.index-background {
  background-image: url("../images/index-ladder.svg");
  background-position-y: bottom;
  background-repeat: no-repeat;
  height: 485px;
  text-align: center;
}

.tagline-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}
.tagline-subtitle {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

/* advantages START */
.advantages-top {
  background-color: inherit;
}

/* добавил в следующий класс цвет текста чёрный,но теперь возник вопрос,что делать с теми тегами,где цвет текста белый,я добавил ниже у item-1,7 белый цвет,но это получается цвет самого текста,а не заголовка:(*/
.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.advantages-card {
  background-color: #82B3D3;
}
/* Не понял что делать с разными бекграунд колорами :(  и дальше добавил куча классов,мне кажется туфта*/
.advantages-item-3,
.advantages-item-5 {
  color: inherit;
  background-color: rgba(131, 179, 211, 0.12);
}

li.advantages-item-1,
li.advantages-item-7 {
  color: #ffffff;
}

li.advantages-item-4,
li.advantages-item-8,
li.advantages-item-10 {
  background-color: rgba(131, 179, 211, 0.20);
}
.advantages-item-9 {
  background-color: #ffffff;
}

.advantages-list{
  list-style: none;
}

.advantages-title-description {
  font-size: 18px;
  text-align: center;
}

.advantages-bottom {
  text-align: center;
}
/* advantages END */

.find-hotels {
  text-align: center;
}

.button {
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

.button-brown {
  background-color: #756157;
}

.button-blue {
  background-color: #82B3D3;
  border: none;
}

.subscribe {
  color: #FFFFFF;
  background-image: url("../images/background-subscribe.jpg");
}

.subscribe-form input {
font-size: 18px;
line-height: 24px;
}

.subscribe-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.subscribe-text {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
}
/* main END */

/* footer START */
.footer-telephone {
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
}
/* footer END  */



/* catalog START */
.block-filter {
  background-image: url("../images/background-filter.jpg");
  background-repeat: no-repeat;
  /* color: #FFFFFF  ; */
  color: #000000;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs-item a {
  color: #FFFFFF ;
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
  font-weight: normal;
}

.catalog-filter-list {
list-style: none;
}

.catalog-filter-titel {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.catalog-filter-item{
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-group{
  font-size: 18px;
  line-height: 24px;
}
/* catalog END */

/* selection START */
.number-hotels {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control {
  font-size: 18px;
  line-height: 21;
}
/* selection END */

/* hotels START */
.hotels-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.hotels-card-link {
  text-decoration: none;
}

.hotels-card-type {
  font-size: 18px;
  line-height: 21px;
}

.hotels-card-price {
  font-size: 18px;
  line-height: 21px;
  /* text-align: right; неудобно смотреть */
}

.hotels-card-rating {
font-size: 16px;
line-height: 20px;
text-transform: uppercase;
/* text-align: center;  неудобно*/
}

/* hotels END */

/* pagination START */
.pagination-link {
font-size: 20px;
line-height: 36px;
font-weight: 700;
text-transform: uppercase;
text-align: center;
text-decoration: none;
}

.pagination {
  list-style: none;
}

.subscribe-catalog {
  background-color: #FFFFFF;
}
.subscribe-catalog .subscribe-text {
  color: #333333;
}

.subscribe-form {
  text-align: center;
}

.subscribe-input  {
  background-color: #F2F2F2;
}
/* pagination END */
