/* font_add START */
@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* font_add END */

html {
  height: 100%;
  width: 1200px;
}


body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex-grow: 1;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: #000000;
}


/* header START */
.index-header {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  padding: 0 70px;
  height: 64px;
}

.logo {
  width: 140px;
  height: 70px;
}

.navigation {
  display: flex;
}

.navigation-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation-menu {
  width: 339px;
  justify-content: space-between;
  padding: 20px 16px;

}

.navigation-user {
  width: 268px;
}

.navigation-link,
.navigation-user-link {
  color: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  text-align: center;
  text-decoration: none;
}

.navigation-link-current{
  border-bottom: 2px solid #756257;
  }


/* header END */

/* main START */
.main-container {
  flex-grow: 1;
}

.main-intro {
  background:  url(../images/index-ladder.svg) bottom, url(../images/background-index.jpg);
  background-repeat: no-repeat;
  background-size: 100%, cover;
  height: 485px;
  text-align: center;
  color: #000000;
}

.tagline-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}
.tagline-subtitle {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

/* advantages START */
.tagline-top {
  height: 261px;
}

.tagline-bottom {
  height: 246px;
}

.advantages-top {
  background-color: inherit;
}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.advantages-item-3,
.advantages-item-5 {
  color: inherit;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-1,
.advantages-item-7 {
  color: #ffffff;
  background-color: #82B3D3;
}

.advantages-item-4,
.advantages-item-8,
.advantages-item-10 {
  background-color: rgba(131, 179, 211, 0.20);
}
.advantages-item-9 {
  background-color: #ffffff;
}

.advantages-list{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.advantages-card {
  width: 400px;
  height: 385px;
}

.advantages-img {
  width: 800px;
  height: 385px;
}

.advantages-title-description {
  font-size: 18px;
  text-align: center;
}

.advantages-bottom {
  text-align: center;
}
/* advantages END */

.find-hotels {
  text-align: center;
  height: 406px;
}

.button {
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
  border-radius: 4px;
  border: none;
}

.button-brown {
  background-color: #756157;
}

.button-blue {
  background-color: #82B3D3;
}

.button-green {
  background-color: #7DB54F;
}

.subscribe {
  color: #FFFFFF;
  background-image: url("../images/background-subscribe.jpg");
  text-align: center;
  height: 415px;
}

.subscribe-form input {
  font-size: 18px;
  line-height: 24px;
}

.subscribe-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;

}

.subscribe-text {
  font-size: 22px;
  line-height: 26px;
}
/* main END */

/* footer START */
.footer-page {
  display: flex;
  justify-content: space-between;
  padding: 40px 70px 30px;
}

.footer-social-list {
  list-style: none;
  display: flex;
  padding: 0;
}

.footer-social-item {
  padding: 0 10px;
}

.footer-telephone {
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
}
/* footer END  */



/* catalog START */
.block-filter {
  background-image: url("../images/background-filter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF  ;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs-item a {
  color: #FFFFFF ;
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
  font-weight: normal;
}

.catalog-filter-list {
  list-style: none;
}

.catalog-filter-titel {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.catalog-filter-item{
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-group{
  font-size: 18px;
  line-height: 24px;
}
/* catalog END */

/* selection START */
.number-hotels {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control {
  font-size: 18px;
  line-height: 21;
}
/* selection END */

/* hotels START */
.hotels-card {
  border: 1px solid #E6E6E6;;
}

.button-card-size {
  width: 140px;
  height: 36px;
  display: flex;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;  /* текст в центр не встает*/
}

.hotels-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.hotels-card-link {
  text-decoration: none;
}

.hotels-card-type {
  font-size: 18px;
  line-height: 21px;
}

.hotels-card-price {
  font-size: 18px;
  line-height: 21px;
  /* text-align: right; неудобно смотреть */
}

.hotels-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
/* text-align: center;  неудобно*/
}

/* hotels END */

/* pagination START */
.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}
.pagination {
  list-style: none;
}

.subscribe-catalog {
  background-color: #FFFFFF;
}
.subscribe-catalog .subscribe-text {
  color: #333333;
}

.subscribe-form {
  text-align: center;
}

.subscribe-input  {
  background-color: #F2F2F2;
}
/* pagination END */
